*.a
aclocal.m4
*autom4te.cache
config.*
configure
depcomp
.deps
gnome-doc-utils.make
Makefile
Makefile.in
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
monkey-bubble.desktop
monkey-bubble.desktop.in
*.o
stamp*
