Source: monkey-bubble
Section: gnome
Priority: optional
Maintainer: Thomas Cataldo <thomas.cataldo@aliacom.fr>
Standards-Version: 3.6.1
Build-Depends: cdbs, debhelper (>= 3.4.4), librsvg2-dev (>= 2.6.4-5), intltool,
 libgstreamer0.8-dev (>= 0.8.1-2), libgnomeui-dev (>= 2.6.1.1-2)
 libglade2-dev (>= 2.4.0-1), scrollkeeper, libstartup-notification0-dev, 
 gnome-pkg-tools, docbook-to-man

Package: monkey-bubble
Architecture: any
Depends: ${shlibs:Depends}, scrollkeeper (>= 0.3.14-5)
Recommends: yelp
Description: The GNOME bust'a'move clone
 Blow up some bubbles in the jungle. You can play alone, with another
 monkey thanks to the split-screen game, or with all your friends
 thanks to the multiplayer game.
 .
 URL: http://home.gna.org/monkeybubble/
