#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_INSTALL_MANPAGES_monkey-bubble := debian/monkey-bubble.1 debian/monkey-srv.1

build/monkey-bubble::
	/usr/bin/docbook-to-man debian/monkey-bubble.sgml > debian/monkey-bubble.1
	/usr/bin/docbook-to-man debian/monkey-srv.sgml > debian/monkey-srv.1

clean::
	rm -f debian/monkey-bubble.1
	rm -f debian/monkey-srv.1
